<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        Oh no! That page cannot be found:
    </div>
</body>
</html>