<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo pariatur magnam animi suscipit voluptate eveniet quisquam, repudiandae quod deleniti!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias reiciendis ipsam voluptates tenetur quod dolore laboriosam iusto tempore minus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias reiciendis ipsam voluptates tenetur quod dolore laboriosam iusto tempore minus.</p>
    </div>
    <%- include('./partials/footer.ejs') %>


</body>
</html>